.img-logo{
    height: 70px;
}
.header-content{
    height: 80px;
    display: flex;
    background-color: #c6eca0;
}

.header-content > div {
    display: flex;
    align-items: center;
    font-size: 25px;
}